		
<div class="main_s">
	<p class="main_h2"><a href="" class="iconfont icon-iguanli">档案管理</a><i class="iconfont icon-right"></i><span>上传档案</span></p>
	<hr class="main_hr"/>
	<div>
		<div class="file_table">
			<table class="table table-bordered">
				  <caption>上传档案</caption>
				  <thead>
				    <tr><th colspan="4" class="colspan"></th></tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td width="10%" class="bg_f">档案类型</td>
				      <td width="40%">档案类型1</td>
				      <td width="10%" class="bg_f">档案名称</td>
				      <td width="40%">档案名称1</td>
				    </tr>
				    <tr>
				      <td width="10%" class="bg_f">档案简介</td>
				      <td width="40%"></td>
				      <td width="10%" class="bg_f">档案创建时间</td>
				      <td width="40%">2018-3-17</td>
				    </tr>
				    <tr>
				      <td width="10%" class="bg_f">选择档案文件</td>
				      <td width="40%"></td>
				      <td width="10%" class="bg_f"></td>
				      <td width="40%"></td>
				    </tr>
				  </tbody>
			</table>
			<p class="file_upload text-center">
				<button class="btn btn-warning">保存</button><button class="btn btn-muted ml15">取消</button>
			</p>
		</div>
	</div>
</div>
		