
	<div class="main">
		<p class="main_h2"><span class="iconfont icon-ihome">首页</span></p>
		<hr class="main_hr"/>
		<div class="main_content">
			<ul class="clearfix index_menu">
				<img src="img/lines.png"/>
				<li class="index_menu1">
					<a href="" >
						<dl class="clearfix">
							<dt class="iconfont icon-dangan pull-left"></dt>
							<div class="pull-left text-right">
								<dd>档案种类</dd>
								<dd class="mt18">6,747</dd>
							</div>
						</dl>
					</a>
				</li>
				<li class="index_menu2">
					<a href="">
						<dl class="clearfix">
							<dt class="iconfont icon-num pull-left"></dt>
							<div class="pull-left text-right">
								<dd>档案数量</dd>
								<dd class="mt18">6,747</dd>
							</div>
						</dl>
					</a>
				</li>
				<li class="index_menu3">
					<a href="">
						<dl class="clearfix">
							<dt class="iconfont icon-jieyue pull-left"></dt>
							<div class="pull-left text-right">
								<dd>借阅数</dd>
								<dd class="mt18">6,747</dd>
							</div>
						</dl>
					</a>
				</li>
				<li class="index_menu4">
					<a href="" class="index_menu4">
						<dl class="clearfix">
							<dt class="iconfont icon-download pull-left"></dt>
							<div class="pull-left text-right">
								<dd>下载数</dd>
								<dd class="mt18">6,747</dd>
							</div>
						</dl>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
